/**
* css库
* auth：han
*/
img {
	display: inline-block;
	border: 0;
	height: 100%;
	width: 100%;
}
.container {
	margin: 0 auto;
	width: 98%;
}

.jd-cell{
	display: flex;
  align-items: center;
  margin-left: 0.8rem;
}

/** 代码已转移 */
/** 你看不见他  */
