/**
* css库
* auth：han
*/
img {
	display: inline-block;
	border: 0;
	height: 100%;
	width: 100%;
}
.container {
	margin: 0 auto;
	width: 98%;
}

.jd-cell{
	display: flex;
  align-items: center;
  margin-left: 0.8rem;
}

.margin-right-10{
  margin-right:0.5rem
}
.fixed-bot{
  position fixed
  margin-bottom 2.5rem
}
.text-center{
  text-align: center //文字水平居中
}
.float-left{
  float:left
}
.float-right{
  float:right
}
.top-20{
  margin-top:1.0rem
  overflow hidden
}
.container-6{
  padding 6px 6px
}
.container-12{
  padding 12px 12px
}
.container-16{
  padding 16px 16px
}
.container-18{
  padding 18px 18px
}
.container-20{
  padding 20px 20px
}
.container-20-lr{
  padding 0px 20px  
}
.part{
  background:#fff;
  font-size: 15px;
  overflow hidden
}
.font-center{
  text-align: center;
}
// 外套
.wrapper{
  overflow hidden
  display relative
}
.btn{
  
}
.btn-border-blue{
  border: 1px solid #0894ea
  color #0894ea
  text-align: center
  height 1.1rem
  line-height: 1.05rem
  border-radius 0.25rem
  padding 0 0.4rem
}
.btn-cicle-middle{
  display inline-block
  height 1.75rem
  line-height: 1.75rem  
  border-radius 20px
  background-color $ztc
  color #fff
  // font-size: 14px
  width 50%
}
.btn .btn-default{
  background-color: $ztc
  color: #fff
}
/*背景色加白色字体*/
.ztc{
  background-color: $ztc
  color: #fff
}
 // 两行文本溢出显示...
.over-2{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.over-3{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
//  标签
// label写的有点乱，后面再改
.label{
  display inline-block
  padding 0.05rem 0.4rem
  font-size: 0.6rem
  color #fff
  border-radius 0.25rem
  background $ztc;
}

.label-grey{
  display inline-block
  height 1.05rem 
  line-height: 1.05rem
  padding 0 0.3rem
  border-radius 0.25rem
  font-size: 0.65rem
  background-color: #f3f3f3
  color #999
}
.label-bg-grey{
  display inline-block
  height 0.8rem
  line-height: .8rem
  padding 1px 8px
  background: #F3F3F3;
  border-radius: 8px;
  font-size: 10px;
  color: #999999;
}
.label-big-border{
  display inline-block
  height 1.3rem
  line-height: 1.3rem
  padding 0 0.3rem
  border-radius 0.25rem
  border 1px solid #999
  font-size: 0.6rem
  color #999
}
  
// 白色边框标签
.label-border{
  border 1px solid #fff
  padding 0 0.2rem
}
// 灰色tip框
.tips{
  padding 0.9rem 0.8rem
  background-color: #f2f2f2
  color #999
}
// 横条框
.tbar
  height 2.5rem
  // line-height 2.5rem
  padding 0.75rem 1.0rem
  width 100%
  background-color: #FFF
  input
    width 100%
    // height 1.5rem
    border none
// 头像
.avator{
  display inline-block
  border-radius 50%
  // 部署的时候删除
  // border 1px solid #e7e7e7
}
// 底部固定条
.fixed-bottom{
  height 2.5rem
  line-height 2.5rem
  width 100%
  position fixed
  bottom 0
  z-index 100
  background-color: $ztc
  text-align: center
}
//因为底部还有导航栏
.fixed-bom{
  height 2.2rem
  line-height 2.2rem
  width 100%
  // margin-bottom 2.5rem
  z-index 100
  position fixed
  bottom 0
  // background-color: $ztc
  text-align: center
}
//tab导航
.nav-tab{
  height 2.5rem
  line-height: 2.5rem
  font-size: 0.7rem
  color #999
  background-color: #FFF
  li
    float left
    display inline-block
    text-align center
}
.fixed{
  position: fixed
}

.far-bom{
  margin-bottom 4.0rem
}

.far-top{
  margin-top 2.2rem
}

.toast-info{
   
 }

